# This is Git's per-user configuration file.
[user]
	name = {{ .name }}
	email = {{ .email }}

{{ if (eq .chezmoi.os "darwin") }}
[credential]
	helper = osxkeychain
{{ end }}


[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[init]
	defaultBranch = main
