# This is Git's per-user configuration file.
[user]
	name = {{ .name }}
	email = {{ .email }}

# https://docs.github.com/en/get-started/getting-started-with-git/caching-your-github-credentials-in-git
[credential]
{{ if (eq .chezmoi.os "darwin") }}
	helper = osxkeychain
{{ else if (eq .chezmoi.os "linux") }}
	# helper = store
	# helper = cache --timeout=144000
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager-core.exe
{{ end }}

[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[init]
	defaultBranch = main

[http]
	sslCert=/home/jizu/Code/work/code1-cert/code1.crt
	sslverify = false

[push]
	default = current
