# This is Git's per-user configuration file.
[user]
	name = {{ .name }}
	email = {{ .email }}

# https://docs.github.com/en/get-started/getting-started-with-git/caching-your-github-credentials-in-git
[credential]
{{ if (eq .chezmoi.os "darwin") }}
	helper = osxkeychain
{{ else if (eq .chezmoi.os "linux") }}
	helper = store
	# helper = cache --timeout=144000
{{ end }}

[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[init]
	defaultBranch = main
